Microprofile/Ver4/01-HelloWorld/target/demo-microbundle.jar
Microprofile/Ver4/01-HelloWorld/target/demo.war
Microprofile/Ver4/01-HelloWorld/target/classes/com/example/demo/HelloController.class
Microprofile/Ver4/01-HelloWorld/target/demo/index.html
Microprofile/Ver4/01-HelloWorld/target/demo/WEB-INF/classes/com/example/demo/HelloController.class
Microprofile/Ver4/01-HelloWorld/target/extracted-payaramicro/MICRO-INF/deploy/ROOT.war
Microprofile/Ver4/01-HelloWorld/target/maven-archiver/pom.properties
